<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CLMS List management">
  <test thread-count="5" name="Add the Product openet product type in list ">
    <classes>
      <class name="testSuite.TC_01_ListManagement_productAdd"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
